# [AI] Google API Key
GOOGLE_GENERATIVE_AI_API_KEY=

# [Auth] Better Auth 认证密钥
BETTER_AUTH_SECRET=

# [Auth] Github OAuth 凭证, 用于账户登录
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# [Database] 数据库 (Postgres URL)
DATABASE_URL=